.remain-notice {
    padding-left: 1em;
    padding-right: 1em;
}

.play-area {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.game-card {
    max-width: 28%;
    min-width: 28%;
    margin: 1%;
}